"*":
  "exception-reporting":
    userId: "f624bb2f-8be9-079d-59f4-60f05fdf467d"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 12
  "autocomplete-plus": {}
  linter: {}
  term2:
    colors: {}
  "sync-settings":
    personalAccessToken: "9e5b4cbb34f3baa3d870ccc87c80c59251e68584"
    gistId: "33062e47ad9ab892cdc8"
  "atom-beautify":
    _analyticsUserId: "68656e20-6846-433e-9c99-5687f30245bc"
  "web-browser": {}
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "84355f8cb0b16df225831f1f2fbe6c7204235433"
